<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User</title>
</head>
<body>
    <h2>Add User</h2>

    <form th:action="@{/users/save}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}" />
        <p>
            <label>Name:</label><br>
            <input type="text" th:field="*{name}" required>
        </p>

        <p>
            <label>Email:</label><br>
            <input type="email" th:field="*{email}" required>
        </p>


        <p>
            <label>Role:</label><br>
            <select th:field="*{role}">
                <option value="">-- Select Role --</option>
                <option value="FARMER">Farmer</option>
                <option value="BUYER">Buyer</option>
                <option value="ADMIN">Admin</option>
            </select><br><br>
        </p>

        <p>
            <button type="submit">Register</button>
            <a th:href="@{/users}">Back</a>
        </p>
    </form>
</body>
</html>
